<!DOCTYPE html>
<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/renderjson/renderjson.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


</head>


<body>
    <div class="row">
        <div class="col s3">

        </div>
        <div class="col s6">
            <div class="card " style="margin-top: 131px;">

                <div class="card-content ">
                    <span class="card-title" style="background-color: whitesmoke;text-align: center;">Add Vocabulary</span>
                    <input placeholder="" id="vocabid" type="text" style="display:none;">

                    <input style="font-size: xx-large;color: teal;" placeholder="" id="vocabname" type="text" class="validate">
                    <label for="vocabname">Name</label>


                    <div style="cursor: inherit;overflow: auto;height: 323px;" id="valueslist" class="collection" style="cursor: pointer;">
                 
    
                    </div>
                    <input style="font-size: xx-large;color: teal;" placeholder="" id="vocabtype" type="text" class="validate">
                    <label for="vocabtype">Type</label>
                </div>
                <div class="card-action">
                    <a id="add" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    </div>
      
                </div>
                <button  id="save" class="btn waves-effect waves-light"  name="action">Save
                
                </button>
            </div>

            <div style="text-align: center;">
   
            </div>
            
        </div>
        <div class="col s3"></div>





    </div>



</body>

<script>
$('#add').click(function () {
    htmlstring='<input type="text" class="groupclass allvalues validate">'
    $( "#valueslist" ).append( htmlstring );
})
results={}



        $(document).ready(function () {
            

        });




        $('#save').click(function () {
            itemsarr = []
            newjson = {}
            for (var i = 0; i < $(".groupclass").length; i++) {
                item = $(".groupclass")[i]['value']
                if (item.length > 0) {
                    itemsarr.push(item);
                }
            }

            newjson['name'] = $('#vocabname').val()
            newjson['values'] = itemsarr
            newjson['type'] = $('#vocabtype').val()
            console.log(newjson)

            $.ajax({
                type: "POST",
                url: '/api/vocabularies/',
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(newjson),
                success: function (data) {
                    console.log(data)
                    window.location.reload();
                }, error: function (data) {
                    console.log(data.responseJSON.message)
                    var toastHTML = '<span>'+data.responseJSON.message+'</span><button class="btn-flat toast-action">OK</button>';
                    M.toast({html: toastHTML});
                    console.log(data)
                }
            })


        })



</script>

</html>