
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>400</title>


	<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">


</head>

<body>

	<div>
		<div>
			<div >
				<h1>404</h1>
			</div>
			<h2>Oops! Bad document type.</h2>
			<p>Try /search.json </p>

		</div>
	</div>

</body>

</html>