<!DOCTYPE html>
<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/renderjson/renderjson.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


    <style>
        .rotate-45 {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();

            $(".collapsible").click(function () {
                $( "#expand" ).toggleClass( "rotate-45" )
            });



            {% if 'GET' in docjson.methods %}
            $("#GET").click(function () {
                $.ajax({
                    url: $('#tryitget').val(),
                    type: 'GET',
                    success: function (data, status) {
                        if (status == 'success') {
                            document.getElementById("result").appendChild(renderjson(data));
                        };

                    }
                });

            });
            {% endif %}

        });



    </script>
</head>


<body>
    {% if 'GET' in docjson.methods %}
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            
            <div class="card ">
                
                <div class="card-content ">
                    <span class="card-title">GET</span>
                    <p>GET method for {{docjson.current_route}}</p>
                </div>
                <div class="card-action">
                        <div style="font-size: small;color: gray;">Expand to see working examples. </div>

                    <ul class="collapsible">
                        {% if jsonexample %}<li>{% else %}<li class="active" > {% endif %} 
                        
                            <div class="collapsible-header"><i id="expand"
                                    class="material-icons">expand_more</i>Available Fields and Examples</div>
                            <div class="collapsible-body">
                                JS example:
                                <pre class="prettyprint">
$.ajax({
    
    url: "{{docjson.current_route}}{% if docjson.methods.GET.arguments|length > 0 %}{{docjson.methods.GET.arguments[0].name}}{% endif %}{% if docjson.methods.GET.parameters|length > 0 %}?{{docjson.methods.GET.parameters[0].name}}={{docjson.methods.GET.parameters[0].example}}{% endif %}",
    type: 'GET',
    success: function (data, status) {
        if (status == 'success') {
            {% if jsonexample %}
            //If the request was successful parse the data.
            //This example will print out the title of the first result to console
            console.log(data.results[0].title)
            {% else %}
            //If the request was successful parse the data.
            console.log(data)
            {% endif%}
        }else{
            //If the request failed, handle this response.
            console.log(status)
        };
    }
});                             </pre>
                        {% if docjson.methods.GET.parameters|length > 0 %}
                                <div>Available Fields</div>
                                <div style="font-size: small;color: gray;">Click on the examples.</div>
                                <table>
                                    <thead>
                                        <tr>
                                            {% for name in docjson.gettablefieldnames %}
                                            <th>{{name}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for field in docjson.methods.GET.parameters %}
                                        <tr>
                                            <td>{{field.name}}</td>
                                            <td>{{field.type}}</td>
                                            <td> <a
                                                    href="{{docjson.current_route}}?{{field.name}}={{field.example}}">{{field.example}}</a>
                                            </td>
                                            <td>{{field.description}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}


                                {% if docjson.methods.GET.arguments|length > 0 %}
                                <div>Available Arguments</div>
                                <div style="font-size: small;color: gray;">Click on the examples.</div>
                                <table>
                                    <thead>
                                        <tr>
                                            
                                            <th>Name</th>
                                            <th>Description</th>
                                           
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for field in docjson.methods.GET.arguments %}
                                        <tr>
                                            
                                            
                                            <td> <a href="{{docjson.current_route}}{{field.name}}">{{field.name}}</a>
                                            </td>
                                            <td>{{field.description}}</td>
                                           
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                {% endif %}



                            </div>
                        </li>

                    </ul>
                    {% if jsonexample %}
                    <br><br>
                    <div class="row">
                        <div class="input-field col s12">
                            <input value="{{docjson.current_route}}{% if docjson.methods.GET.parameters|length > 0 %}?{{docjson.methods.GET.parameters[0].name}}={{docjson.methods.GET.parameters[0].example}}{% endif %}" id="tryitget" type="text" class="validate">
                            <label class="active" for="tryitget">Try it out. Type your query in the field below and click the GET button. </label>
                        </div>
                    </div>
                    <button class="waves-effect waves-light btn" id="GET">GET</button><span style="font-size: small;color: gray;"><--Click here.</span>
                    <div>The server responses will appear below. Expand the response to view it.</div>
                    <div class="card " style="overflow: scroll;">
                        <div id="result" style="margin: 20px;"></div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s3"></div>

    </div>
    {% endif %}

</body>


</html>