<!DOCTYPE html>
<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/renderjson/renderjson.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


</head>


<body>
    <div class="row">
        <div class="col s1"></div>
        <div class="col s3">
            <div class="input-field " style="margin-top: 131px;">
                <h3 style="color: #797979;text-align: center">Vocabularies</h3>
            </div>

            <div class="card " style=" height: 469px; overflow-y: auto;">
                <div id="vocablist" class="collection" style="cursor: pointer;">
                </div>

            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s6">
            <div class="card " style="margin-top: 131px;">

                <div class="card-content ">
                    <span class="card-title" style="background-color: whitesmoke;text-align: center;">Vocabularies
                        Edit</span>
                    <input placeholder="" id="vocabid" type="text" style="display:none;">

                    <input style="font-size: xx-large;color: teal;" placeholder="" id="vocabname" type="text"
                        class="validate">
                    <label for="vocabname">Name</label>


                    <div style="cursor: inherit;overflow: auto;height: 323px;" id="valueslist" class="collection"
                        style="cursor: pointer;">





                    </div>
                    <input style="font-size: xx-large;color: teal;" placeholder="" id="vocabtype" type="text"
                        class="validate">
                    <label for="vocabtype">Type</label>
                </div>
                <div class="card-action">
                    <a id="add" class="btn-floating btn-large waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>

            </div>
            <button disabled id="save" class="btn waves-effect waves-light" name="action">Save

            </button>
        </div>

        <div style="text-align: center;">

        </div>

    </div>
    <div class="col s1"></div>





    </div>



</body>

<script>
    $('#add').click(function () {
        htmlstring = '<input type="text" class="groupclass allvalues validate">'
        $("#valueslist").append(htmlstring);
    })
    results = {}



    $(document).ready(function () {
        updatesearch("")

    });



    function updatesearch(searchstring) {
        $.ajax({
            url: "/api/vocabularies/" + searchstring,
            success: function (data) {
                results = data.results
                newhtml = ""
                for (var i = 0; i < results.length; i++) {
                    newhtml = newhtml + '<a onclick="collectionitem(\'' + results[i]['id'] + '\')" id="' + results[i]['id'] + '" class="collection-item">' + results[i]['name'] + '</a>'
                }
                $('#vocablist').html(newhtml)

            }, error: function (data) {
            }
        });
    }






    function collectionitem(id) {


        for (var i = 0; i < results.length; i++) {
            if (results[i]['id'] == id) {

                console.log(results[i])
                $("#vocabid").val(results[i]['id'])
                $("#vocabname").val(results[i]['name'])

                if (results[i]['type']) {
                    $("#vocabtype").val(results[i]['type'])
                } else {
                    $("#vocabtype").val("")
                }
                vocabtype
                newhtmlvalues = ""
                for (var i2 = 0; i2 < results[i]['values'].length; i2++) {
                    newhtmlvalues = newhtmlvalues + '<input type="text" value="' + results[i]['values'][i2] + '"class="groupclass allvalues validate">'
                }
                $('#valueslist').html(newhtmlvalues)
                $("#save").prop("disabled", false);


            }

        }
    }


    $('#save').click(function () {
        itemsarr = []
        newjson = {}
        for (var i = 0; i < $(".groupclass").length; i++) {
            item = $(".groupclass")[i]['value']
            if (item.length > 0) {
                itemsarr.push(item);
            }
        }
        newjson['id'] = $('#vocabid').val()
        newjson['name'] = $('#vocabname').val()
        newjson['values'] = itemsarr
        newjson['type'] = $('#vocabtype').val()

        $.ajax({
            type: "POST",
            url: '/api/vocabularies/',
            dataType: 'json',
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(newjson),
            success: function (data) {
                console.log(data)
                window.location.reload();

            }, error: function (data) {
                console.log(data)

            }
        })


    })




</script>

</html>