<!DOCTYPE html>
<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/renderjson/renderjson.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


</head>


<body>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">

            <div class="card " style="margin-top: 131px;">

                <div class="card-content ">
                    <span class="card-title" style="background-color: whitesmoke;text-align: center;">Password Reset Request</span>
                    <p>Please type the e-mail that is associated with this account.</p>
                </div>
                <div class="card-action">
                   

                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="email" type="email" class="validate ">
                                    <label for="emaiml">email</label>
                                  </div>
                                
                              </div>
                          
                        </div>
                        <div class="col s12" style="text-align: center;">
                        <a class="waves-effect waves-light btn" id="resetbutton"  >Request Password Reset</a>
                        </div>
                      </div>
                     
                      
                </div>
            </div>
        </div>
        <div class="col s4"></div>

    </div>



</body>

<script>




$('#resetbutton').click(function() {
    email=$("#email").val()
    jdata={'email':email }
   // console.log(data)
    $.ajax({
        type: "POST",
        url: '/api/user/pwreset',
        dataType: 'json',
        contentType: 'application/json',
        async: false,
        //json object to sent to the authentication url
        data: JSON.stringify(jdata),
        success: function (data) {
            console.log(data)
            var toastHTML = '<span>'+data['message']+'</span>';
            M.toast({html: toastHTML, completeCallback: function(){
                window.location.href="/api/"; 
            }});
        },error:function (data) {
            var toastHTML = '<span>'+data['message']+'</span>';
            M.toast({html: toastHTML}); 

        }
    })
               



});

</script>
</html>
