<!DOCTYPE html>
<html>

<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/renderjson/renderjson.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


</head>


<body>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">

            <div class="card " style="margin-top: 131px;">

                <div class="card-content ">
                    <span class="card-title" style="background-color: whitesmoke;text-align: center;">Password Reset</span>
                    <p>Please type your password twice and click submit.</p>
                </div>
                <div class="card-action">
                   

                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="pass1" type="password" class="validate pwfield">
                                    <label for="pass1">Password</label>
                                  </div>
                                
                              </div>
                          <div class="row">
                            <div class="input-field col s12">
                                <input id="pass2" type="password" class="validate pwfield">
                                <label for="pass2"> Confirm password</label>
                              </div>
                            
                          </div>
                        </div>
                        <div class="col s12" style="text-align: center;">
                        <a class="waves-effect waves-light btn" id="loginbutton" disabled >Change Password</a>
                        </div>
                      </div>
                     
                      
                </div>
            </div>
        </div>
        <div class="col s4"></div>

    </div>



</body>

<script>


$('.pwfield').keyup(function() {
    pass1=$('#pass1').val()
    pass2=$('#pass2').val()
    if ((pass1==pass2)&&(pass1.length>5)){
        console.log("good");
        // $("#loginbutton").prop("disabled",false);
        console.log($("#loginbutton"))
        $("#loginbutton").removeAttr('disabled');
    }else{
        console.log("bad")
        $( "a" ).prop( "disabled", true )
        $("#loginbutton").attr("disabled", true);
        
    }
   
});

token='{{token}}'

$('#loginbutton').click(function() {
    console.log(token)
    console.log(pass1)
    jdata={'pass':pass1,'token':token}
   // console.log(data)
    $.ajax({
        type: "POST",
        url: '{{url}}',
        dataType: 'json',
        contentType: 'application/json',
        async: false,
        //json object to sent to the authentication url
        data: JSON.stringify(jdata),
        success: function (data) {
            console.log(data)
            var toastHTML = '<span>'+data['message']+'</span>';
            M.toast({html: toastHTML, completeCallback: function(){
                window.location.href="/api/"; 
            }});

        },error:function (data) {
            console.log(data)
            var toastHTML = '<span>'+data['message']+'</span>';
            M.toast({html: toastHTML});

        }
    })
               



});

</script>
</html>
